## Python Supports String Operations

### Creating String and Accessing Values in String

    - Creating strings is as simple as assigning a value to a variable.
    - Python treats single quotes the same as double quotes.
    - Python does not support a character type; these are treated as strings of length one, thus also considered a substring.

In [1]:
var1="Practice Python"
var1

'Practice Python'

#### Accessing Values

In [2]:
var1[5]

'i'

In [3]:
var1[9:11]

'Py'

In [4]:
var1[-6:]

'Python'

#### Updating String

    - "update" an existing string by (re)assigning a variable to another string.

In [5]:
var2=var1+" to be good in Python and Programming."     #assigning to diff. variable.
var2

'Practice Python to be good in Python and Programming.'

In [6]:
var1=var1+" because code in python is too easy."     #assigning to same variable.
var1

'Practice Python because code in python is too easy.'

### Triple Quotes

    - Allows strings to span multiple lines, including verbatim NEWLINEs, TABs, and any other special characters.
    - triple quotes consists of three consecutive single or double quotes.

In [7]:
pstr="""This is a paragraph shows python has triple quotes string
which allows a string to be a multi-line 
which is having new line \nand tab. \n \t any other special characters also.
"""
print(pstr)

This is a paragraph shows python has triple quotes string
which allows a string to be a multi-line
which is having new line
and tab.
 	 any other special characters also.

### Operators with String

    +, *, [], [:], in, not in, r/R. These operators are use to Concatenation, Repetition, Slice and Membership etc.

In [8]:
s1="Python"
s2="Programming"

#### Concatenation

    - for concatenation use (+).

In [9]:
s1+" "+s2

'Python Programming'

#### Repetition

    - for repetition use (*).

In [10]:
s2*2

'ProgrammingProgramming'

#### Slice

    - for slice use ([]), gives the character from given index.

In [11]:
s1[0]

'P'

#### Range Slice
    
    - for range slicing ([:]), gives the characters from the given range.

In [12]:
s2[3:7]

'gram'

#### Membership

    - in , not in, (Case Sensitive).

In [13]:
"m" in s2

True

In [14]:
'b' in s1

False

In [15]:
'c' not in s1

True

In [16]:
'P' not in s2

False

#### r'expression'
    
    - make use of raw string.

In [17]:
print(r"D:\\path")

D:\\path

#### Formatting String

    - % use to format string.

In [18]:
print("My name is %s and code is 00%d" % ("Bond",7))

My name is Bond and code is 007

In [19]:
n='Bond'
c=7
print(f"My name is {n} and code is 00{c}")

My name is Bond and code is 007

### Built-in String Methods
    
    - all strings are represented in Unicode.
    
        - capitalize()
        - center()
        - count()
        - endswith()
        - find()
        - index()
        - isalnum()
        - isalpha()
        - isdigit()
        - islower()
        - isnumeric()
        - join()
        - len()
        - title()
        - lower()
        - upper()
        - replace()
        - split()

#### capitalize()

    - returns a copy of the string with only its first character capitalized.

In [20]:
s3="my string"
s3.capitalize()

'My string'

#### center(width,fillchar)

    - returns centered in a string of length width.
    - fillchar is optional.

In [21]:
s3.center(22)

'      my string       '

In [22]:
s3.center(22,'-')

'------my string-------'

#### count(sub,start,end)

    - returns the number of occurrences of substring sub in the range.
    - "start" and "end" are optional, default value of start is 0 and length of string for end.

In [23]:
s2.count('g')

2

In [24]:
s2.count('g',0,5)

1

#### endswith(suff,start, end)

    - returns True if the string ends with the specified suffix, otherwise return False.
    - "start" and "end" are optional.

In [25]:
s3.endswith('i')

False

In [26]:
s3.endswith('i',2,-2)

True

#### find(str,start,end)

    - determines if the string str occurs in string, 
    - or in a substring of string if the starting index start and ending index end are given.

In [27]:
s4="This is sample for string."
s4

'This is sample for string.'

In [28]:
s4.find('is')     # this will return start index value of sub string

2

In [29]:
s4.find('for')

15

#### index()

    - determines if the string str occurs in string or in a substring of string.
    - same as find(), but raises an exception if sub is not found.

In [30]:
s4.index('for')

15

In [31]:
s4.index('to')

ValueError: substring not found

#### isalnum()

    - returns true if all the characters in the string are alphanumeric and there is at least one character, false otherwise.

In [32]:
s4.isalnum()

False

In [33]:
s5="check1"
s5.isalnum()

True

#### isalpha()

    - checks whether the string consists of alphabetic characters only.

In [34]:
s4.isalpha()

False

In [35]:
s5.isalpha()

False

In [36]:
"this".isalpha()     # No space & digit in this string

True

#### islower()

    - checks whether all the case-based characters (letters) of the string are lowercase.

In [37]:
s4.islower()

False

In [38]:
s3.islower()

True

#### isnumeric()

    - checks whether the string consists of only numeric characters.

In [39]:
s5.isnumeric()

False

In [40]:
"123".isnumeric()

True

#### join(seq)

    - returns a string in which the string elements of sequence have been joined by str separator.

In [41]:
ls=['this', 'is', 'demo']
" ".join(ls)

'this is demo'

In [42]:
"-".join(ls)

'this-is-demo'

#### len()

    -returns the length of the string.

In [43]:
len(s2)

11

#### title()

    - returns a copy of the string in which first characters of all the words are capitalized.

In [44]:
s4.title()

'This Is Sample For String.'

#### lower()

    - returns a copy of the string in which all case-based characters have been lowercased.

In [45]:
"THIS IS LOWERCASE STRING".lower()

'this is lowercase string'

#### replace(old, new, max)

    - returns a copy of the string in which the occurrences of old have been replaced with new.
    - max is optionally restricting the number of replacements.

In [46]:
s4.replace('is','are')

'Thare are sample for string.'

In [47]:
s4.replace('is','are',4)

'Thare are sample for string.'

#### split()

    - returns a list of all the words in the string, using str as the separator.

In [48]:
s4.split(" ")

['This', 'is', 'sample', 'for', 'string.']