## Python Lists and Operations

    - to work with sequence data type there is built-in-types of sequence, list is one of them.
    - written as a list of comma-seprated items between square brackets [].
    - items in a list need not be of the same type.
    - lists are mutable.

In [1]:
ls1=[0,1,2,3,4,5]
ls1

[0, 1, 2, 3, 4, 5]

In [2]:
ls2=['zero','one','two','three','four','five']
ls2

['zero', 'one', 'two', 'three', 'four', 'five']

In [3]:
ls3=['zero',1,'two',3.3,'four','five']
ls3

['zero', 1, 'two', 3.3, 'four', 'five']

### Accessing Values in List

    - use square bracket for access value from list
    - slicing for multiple values in seqence order

In [4]:
ls2[0]

'zero'

In [5]:
ls3[3]

3.3

In [6]:
ls2[3:5]

['three', 'four']

In [7]:
ls3[2:]

['two', 3.3, 'four', 'five']

In [8]:
ls2[-3]

'three'

In [9]:
ls2[-3:]

['three', 'four', 'five']

In [10]:
ls2[:-3]

['zero', 'one', 'two']

### Update list

    - using slice we can update single and multiple values.

In [11]:
ls3[3] = "update3"
ls3

['zero', 1, 'two', 'update3', 'four', 'five']

In [12]:
ls3[-2:]=4,5
ls3

['zero', 1, 'two', 'update3', 4, 5]

### Delete list Element

    - use Del statement to delete if you know exact index of the value.
    - use remove() if you don't know the index of the value.

In [13]:
del ls3[-2]
ls3

['zero', 1, 'two', 'update3', 5]

In [14]:
ls3.remove(5)
ls3

['zero', 1, 'two', 'update3']

### List Operations

#### Length of list

In [15]:
len(ls2)

6

#### Concatination

In [16]:
ls1+ls2

[0, 1, 2, 3, 4, 5, 'zero', 'one', 'two', 'three', 'four', 'five']

#### Repetition

In [17]:
ls2*2

['zero',
 'one',
 'two',
 'three',
 'four',
 'five',
 'zero',
 'one',
 'two',
 'three',
 'four',
 'five']

#### Membership

In [18]:
'two' in ls3

True

#### Iteration

In [19]:
for i in ls2: print(i,end=' ')

zero one two three four five

### Built-in list Functions and Methods

    - len(list)
    - max(list)
    - min(list)
    - list(seq)

#### len(list)

    - returns lenght of the list.

In [20]:
len(ls2)

6

#### max(list)

    - returns max value from list.
    - works with only homogeneous list.

In [21]:
max(ls1)

5

In [22]:
max(ls3)

TypeError: '>' not supported between instances of 'int' and 'str'

#### min(list)

    - returns min value from list.
    - works with only homogeneous list.

In [23]:
min(ls1)

0

#### list(seq)

    - converts a sequence (tuple) into list.

In [24]:
list(('This','is','no more', 'a Tuple.'))

['This', 'is', 'no more', 'a Tuple.']

### Some more Methods

    - append()
    - count()
    - extend()
    - index()
    - insert()
    - pop()
    - remove()
    - reverse()
    - sort()

#### append(x)

    - appends x into the existing list.

In [25]:
ls3

['zero', 1, 'two', 'update3']

In [26]:
ls3.append(4)
ls3

['zero', 1, 'two', 'update3', 4]

#### count(x)

    - count how many times x occurs in list.

In [27]:
(ls1+ls3).count(1)

2

#### extend(x)

    - return nothing.
    - adds value (sequence) to an existing list.

In [28]:
ls1

[0, 1, 2, 3, 4, 5]

In [29]:
ls1.extend([6])
ls1

[0, 1, 2, 3, 4, 5, 6]

In [30]:
ls1.extend([7,8,9])
ls1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### index()

    - returns index of the found object otherwise raise an exception.

In [31]:
ls1.index(5)

5

In [32]:
ls1.index(10)

ValueError: 10 is not in list

#### insert()

    - inserts object into list at offset index.

In [33]:
ls3

['zero', 1, 'two', 'update3', 4]

In [34]:
ls3.insert(3,3)
ls3

['zero', 1, 'two', 3, 'update3', 4]

#### pop()

    - removes and returns last object.

In [35]:
ls3.pop()

4

In [36]:
ls3

['zero', 1, 'two', 3, 'update3']

#### remove()

    - return nothing but removes the given object from the list.

In [37]:
ls3

['zero', 1, 'two', 3, 'update3']

In [38]:
ls3.remove(3)
ls3

['zero', 1, 'two', 'update3']

#### reverse()

    - return nothing but reverse the list.

In [39]:
ls1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
ls1.reverse()
ls1

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

#### sort()

    - short the list(sequence).
    - works with only homogeneous list.

In [41]:
ls3.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [42]:
ls4=list([12,3,55,64,23,43])
ls4

[12, 3, 55, 64, 23, 43]

In [43]:
ls4.sort()
ls4

[3, 12, 23, 43, 55, 64]