## Python Tuple and Operations

    - Tuples are sequences, just like lists.
    - but tuples are immutable.
    - written as two parentheses () containing sequences.
    - if tuple containing a single value we have to include a comma.

In [1]:
tu1=(1,42,35,14,56,3,13)
tu1

(1, 42, 35, 14, 56, 3, 13)

In [2]:
tu2=()
tu2

()

In [3]:
tu3=(12,)
tu3

(12,)

### Accessing Values in Tuples

    - use square bracket for access value from tuple.
    - slicing for multiple values in seqence order.

In [4]:
tu1[3]

14

In [5]:
tu1[:4]

(1, 42, 35, 14)

In [6]:
tu1[3:]

(14, 56, 3, 13)

In [7]:
tu1[2:4]

(35, 14)

### Update Tuples

    - Tuples are immutalbe, so that we can not change or update values in tuple.
    - But we can create new tuple using existing tuple.

In [8]:
tu4=("Three", "Eight","Nineteen","Eleven","Thirty five")
tu4

('Three', 'Eight', 'Nineteen', 'Eleven', 'Thirty five')

In [9]:
tu5=tu1[:3]+tu4[2:4]
tu5

(1, 42, 35, 'Nineteen', 'Eleven')

In [10]:
tu4[2]

'Nineteen'

In [11]:
tu4[2]="Four"

TypeError: 'tuple' object does not support item assignment

### Referring to a Valriable

    - Here in python variable is just a name given to an object in the memory.
    - If we assingn new object to existing variable, that time location which is accessed by the help of variable got change.
    - To check this use "id()" function.

In [12]:
var1=10
var1

10

In [13]:
id(var1)

94576767024736

In [14]:
var1=20
var1

20

In [15]:
id(var1) # So here we can see that when we update value of variable location got updated also.

94576767025056

In [16]:
id(tu2)

139926897852480

In [17]:
tu2=tu1[4:]+tu4[:3]
tu2

(56, 3, 13, 'Three', 'Eight', 'Nineteen')

In [18]:
id(tu2)

139926680088640

### Delete Tuple Elements

    - As we know tuples are immutalbe, so we can't delete individual value from tuple.
    - but we cant delete entire tuple using det statement.

In [19]:
tu3

(12,)

In [20]:
del tu3

In [21]:
tu3

NameError: name 'tu3' is not defined

### Tuples Operations

#### Concatination

In [22]:
tu1[4:]+tu4

(56, 3, 13, 'Three', 'Eight', 'Nineteen', 'Eleven', 'Thirty five')

#### Repetition

In [23]:
("check",)*3

('check', 'check', 'check')

#### Membership

In [24]:
56 in tu1

True

#### Iteration

In [25]:
for i in tu4:print(i, end=' ')

Three Eight Nineteen Eleven Thirty five

### Built-in list Functions and Methods

    - len(list)
    - max(list)
    - min(list)
    - tuple(seq)

#### len(tuple)

    - returns lenght of the tuple.

In [26]:
len(tu1)

7

#### max(tuple)

    - returns max value from tuple.
    - works with only homogeneous tuple.

In [27]:
max(tu1)

56

In [28]:
max(tu4)

'Three'

In [29]:
max(tu5)

TypeError: '>' not supported between instances of 'str' and 'int'

#### min(list)

    - returns min value from tuple.
    - works with only homogeneous tuple.

In [30]:
min(tu4)

'Eight'

In [31]:
min(tu5)

TypeError: '<' not supported between instances of 'str' and 'int'

#### tuple(seq)

    - converts a sequence (list) into tuple.

In [32]:
tuple(['This','is','no more', 'a List.'])

('This', 'is', 'no more', 'a List.')