## Python Dictionary and Operations

    - Dictionary is the collection on items, where item itself a key value pair. Items are separated by commas (,) and all items are enclosed in curly braces.
    - key is seprated from its value by a colon (:).
    - Keys are unique and must be an immutabe type (string, numbers, tuples).

In [1]:
dict1={'EmpId':12435,'Name':"Emp1",'Location':"Delhi"}
dict1

{'EmpId': 12435, 'Name': 'Emp1', 'Location': 'Delhi'}

In [2]:
dict2={}
dict2

{}

### Accessing Values in Dictionary

    - Use square brackets along with the key to obtain its value.

In [3]:
dict1['Name']

'Emp1'

In [4]:
dict1['Location']

'Delhi'

### Updating Dictionary

    - We can add new item (key-value pair) or modifying an existing item, or delete.

In [5]:
dict1['Salary']=1200000
dict1

{'EmpId': 12435, 'Name': 'Emp1', 'Location': 'Delhi', 'Salary': 1200000}

In [6]:
dict1['Name']='Tony'
dict1

{'EmpId': 12435, 'Name': 'Tony', 'Location': 'Delhi', 'Salary': 1200000}

### Delete Dictionary Elements

    - We can remove individual item or clean the entire dictionary.
    
    Note: If del use with dictionary name directly, dictionary dose not exist anymore.

In [7]:
dict3={'EmpId':15368,'Name':"Emp2",'Location':"Delhi"}
dict3

{'EmpId': 15368, 'Name': 'Emp2', 'Location': 'Delhi'}

In [8]:
del dict3['Location']
dict3

{'EmpId': 15368, 'Name': 'Emp2'}

In [9]:
dict3.clear()
dict3

{}

In [10]:
del dict3
dict3

NameError: name 'dict3' is not defined

### Built-in Dictionary Functions & Methods

    - len()
    - str()
    - type()

#### len()

    - return the length of dictionary

In [11]:
len(dict1)

4

#### str()

    - returns string representation of dictionary.

In [12]:
str(dict1)

"{'EmpId': 12435, 'Name': 'Tony', 'Location': 'Delhi', 'Salary': 1200000}"

#### type()

    - return the type of passed variable.

In [13]:
type(dict1)

dict

In [14]:
type(dict1['Name'])

str

### Methods

    - dict.clear()
    - dict.get()
    - dict.items()
    - dict.keys()
    - dict.update()
    - dict.values()

#### dict.clear()

    - Remove all items from the dictonary.

#### dict.get(key)

    - returns a value for the given key.
    - if key is not present, then return None.

In [15]:
dict1.get('Location')

'Delhi'

In [16]:
print(dict1.get('Age'))

None

#### dict.items()

    - returns a list or all items as tuple pairs.

In [17]:
dict1.items()

dict_items([('EmpId', 12435), ('Name', 'Tony'), ('Location', 'Delhi'), ('Salary', 1200000)])

#### dict.keys()

    - return the list all keys present in given dictionary.

In [18]:
dict1.keys()

dict_keys(['EmpId', 'Name', 'Location', 'Salary'])

#### dict.update(dict2)

    - add dict2 in other dictionary and return nothing.

In [19]:
dict4={'Age':26,'DOB':"01-01-1996"}
dict4

{'Age': 26, 'DOB': '01-01-1996'}

In [20]:
dict1.update(dict4)
dict1

{'EmpId': 12435,
 'Name': 'Tony',
 'Location': 'Delhi',
 'Salary': 1200000,
 'Age': 26,
 'DOB': '01-01-1996'}

#### dict.values()

    - return list of all values present in given dictionary.

In [21]:
dict1.values()

dict_values([12435, 'Tony', 'Delhi', 1200000, 26, '01-01-1996'])